<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <logger name="ch.qos.logback.classic.LoggerContext" level="WARN"/>
    <logger name="io.netty.buffer.PooledByteBufAllocator" level="WARN"/>
    <logger name="io.netty.util" level="WARN"/>
    <logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN"/>
    <logger name="org.apache.catalina.core.AprLifecycleListener" level="WARN"/>
    <logger name="org.hibernate.validator.messageinterpolation.ResourceBundleMessageInterpolator" level="WARN"/>
    <logger name="org.hibernate.validator.internal" level="WARN"/>
    <logger name="org.springframework.boot.SpringApplication" level="WARN"/>
    <logger name="org.springframework.boot.autoconfigure.logging" level="WARN"/>
    <logger name="org.springframework.boot.context.logging" level="WARN"/>
    <logger name="org.springframework.boot.web.embedded.tomcat" level="INFO"/>
    <logger name="org.springframework.boot.web.servlet" level="WARN"/>
    <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="WARN"/>
    <logger name="org.springframework.context.annotation" level="WARN"/>
    <logger name="org.springframework.core.LocalVariableTableParameterNameDiscoverer" level="WARN"/>
    <logger name="org.springframework.jmx" level="WARN"/>
    <logger name="org.springframework.scheduling.concurrent" level="WARN"/>
    <logger name="org.springframework.ui.context.support" level="WARN"/>
    <logger name="org.springframework.web.servlet" level="WARN"/>
    <logger name="reactor.netty.tcp.TcpResources" level="WARN"/>
    <logger name="reactor.util" level="WARN"/>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
